<link rel="stylesheet" href="cookies.css">

<div class="bg-container">

<h1 class='main-header'>Our signature Cookies</h1>
<section class='cookies-cont'>

  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Chocolate Chip Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://www.handletheheat.com/wp-content/uploads/2018/02/BAKERY-STYLE-CHOCOLATE-CHIP-COOKIES-9-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$1.49</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Gingerdoodle Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://www.handletheheat.com/wp-content/uploads/2017/12/Gingerdoodle-Cookies-Square-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$2.99</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Funfetti Chocolate Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://www.icedjems.com/wp-content/uploads/2018/06/FunfettiCOokies4-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$2.49</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Salted White Chocolate Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://i2.wp.com/www.aimeemars.com/wp-content/uploads/2016/09/Whole-Wheat-Salted-White-Chocolate-Cookies-550x550-1.jpg?fit=550%2C550&ssl=<1>  </1>" alt="">
  <div class="">
    <p class='shop-item-price'>$1.99</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Double Chocolate Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://alexandracooks.com/wp-content/uploads/2007/12/worldpeacecookies-e1548242815152-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$2.99</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Chocolate Chip Pecan Cookie</h3>
  <img class='cookie-pic shop-item-image' src="http://wannacomewith.com/wp-content/uploads/2016/02/pecan-raisin-chocolate-chip-cookies-550px-4332.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$3.49</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Oatmeal Chocolate Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://www.handletheheat.com/wp-content/uploads/2013/07/Oatmeal-Chocolate-Chip-Cookies-SQUARE-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$2.49</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Icecream Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://thewoodandspoon.com/wp-content/uploads/2018/06/IMG_3422-1-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$3.99</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
  <div class="cookie-box shop-item">
  <h3 class='shop-item-title'>Salted Oatmeal Cookie</h3>
  <img class='cookie-pic shop-item-image' src="https://alexandracooks.com/wp-content/uploads/2011/10/cookiesstacked-1-550x550.jpg" alt="">
  <div class="">
    <p class='shop-item-price'>$2.49</p>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
  </div>
</section>
</div>

<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>
