<link rel="stylesheet" href="home.css">

<h1 class='home-header'>Welcome to Sensational Goodies's Bakery!</h1>



<section class='slide-show'>
  <h2 class='slide-header'>Buy our Goodies</h2>

<div id="carouselExampleIndicators" class="carousel slide inner-slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3 class='slide-header'>Cakes</h3>
    <a href="/cakes">  <img class='cookie-slide' src="https://www.handletheheat.com/wp-content/uploads/2016/04/twixchocolatecake_thumb2-550x550.jpg" class="d-block w-100" alt=""> </a>
    </div>
    <div class="carousel-item">
      <h3 class='slide-header'>Cookies</h3>
    <a href="/cookies"><img class='cookie-slide' src="https://www.handletheheat.com/wp-content/uploads/2018/02/BAKERY-STYLE-CHOCOLATE-CHIP-COOKIES-9-550x550.jpg" class="d-block w-100" alt="..."></a>
    </div>
    <div class="carousel-item">
      <h3 class='slide-header'>Muffins</h3>
  <a href="/muffins"> <img class='cookie-slide' src="https://alexandracooks.com/wp-content/uploads/2010/12/oatmealmuffin11-1-550x550.jpg" class="d-block w-100" alt="..."></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</section>

<section class='newsletters'>

  <h2 class='newsletters-header'>Join our Newsletter!</h2>

  <form action="/result" method='get'>
    <div class="form-group">
      <label for="exampleInputEmail1" class='email-text forum-text'>First Name</label>
      <input type="text" name='first_name' class="form-control email-text email-input name-form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your First Name">
      <label for="exampleInputEmail1" class='email-text forum-text '>Last Name  </label>
      <input type="text" name='last_name' class="form-control email-text email-input name-form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Last Name">
    </div>

  <div class="form-group">
    <label for="exampleInputEmail1" class='email-text'>Email address</label>
    <input type="email" name='input' class="form-control email-text email-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
    <small id="emailHelp" class="form-text text-muted under-text">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Send me daily Discounts, Products, Offers</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</section>
