<link rel="stylesheet" href="result.css">
<div class="newsletter-text">

  <h1>Welcome to Sensational Goodies Bakery's Newsletter, </h1>
  <p>
    Thank You <%="#{@firstName}"%> <%="#{@lastName}"%>
    You have successfully signed up to Goodies Bakery!
  </p>
  <p>
    Click the home button in to go back to buying Goodies!
  </p>
  <p>Thanks for joining and have a great day!</p>
</div>
